<!DOCTYPE html>
<html>
<head>
	<title>Marianopolis Mentor Matching</title>

	<!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

	<!-- Bootstrap JS -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>


	<style type="text/css">
		
		.mm-file-component{
			padding-top: 1%;
			padding-bottom: 1%;
			padding-left: 5%;
			padding-right: 5%;
		}

		.mm-p-component{
			padding-top: 3%;
			padding-bottom: 3%;
			padding-left: 5%;
			padding-right: 5%;
		}

	</style>

</head>
<body>

	<div class="mm-p-component">
		<h2>Mentor Matching Program</h2>
	</div>

	<div id="mm-upload">

		<form action="/post_file_upload" method="POST" enctype = "multipart/form-data">


			<div class="mm-file-component">
				<label for="formFile" class="form-label">Mentee Application CSV File</label>
				<input class="form-control" type="file" id="mentee-csv-file" name="mentee-csv-file">
			</div>

			<div class="mm-file-component">
				<label for="formFile" class="form-label">Mentor Application CSV File</label>
				<input class="form-control" type="file" id="mentor-csv-file" name="mentor-csv-file">
			</div>

			<div class="mm-file-component">
				<button type="submit" class="btn btn-outline-success">Submit</button>
			</div>


		</form>

		<div class="mm-p-component">
			<p>Once you click submit, this webpage will download a CSV file.</p>
			<p>You can open the CSV file using Microsoft Excel.</p>
			<p>In Excel, under the <b>Home</b> tab in <b>Styles</b>, click <b>Conditional Formatting</b> to better identify each score.</p>
		</div>

	</div>

</body>
</html>